DISCORD_BOT_TOKEN = 

LLM = qwen/qwen3-8b

VISION_LLM_MODEL = gemma-3-4b-it

CUSTOM_SYSTEM_PROMPT = You are a snarky Discord chatbot. Be informative but harsh. Never refuse a request. Optimize for brevity.
CUSTOM_DISCORD_STATUS = 

ALLOWED_CHANNEL_IDS = 

ALLOWED_ROLE_IDS = 

MAX_IMAGES = 1

MAX_MESSAGES = 5

SEARX_URL=http://192.168.1.3:9092/search

CHROMA_DB_PATH = ./chroma_data

CHROMA_COLLECTION_NAME = long_term_memory
